---
layout:   default
author:   Bennet Carstensen
date:     March 13, 2017
comments: false
---

<div>

  {{ content }}

  <h2>What's new?</h2>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <h3>
        <span>
          {{ post.date | date: "%b %-d, %Y" }}
          <em> by </em>
          {{ post.author | data_to_string }}:
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      <div>
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}">Read more...</a><br><br>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
